<h1>Create a new bookmark</h1>
<%= simple_form_for [@list, @bookmarks] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.button :submit %>
<% end %>

  <%# <%= f.association :list %>
  <%# %>
